<div id="share_form">
<%= form_tag share_task_path(@task.id), :remote => true do %>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div>
  	<%= submit_tag "Share"%>
  </div>
<% end %>
</div>